
.cabecalhoPrincipal {
    background-color: #343434;
    padding: 20px;
}
.cabecalhoPrincipal .logo {
    color:white;
    margin: 0px;
}

.cabecalhoPrincipal-navegacao {
    text-align: right;
}

.cabecalhoPrincipal-navegacao .login {
    background-color: rgba(255,255,255,0.2);
    border-radius: 38px;
    font-size: 20px;
    padding: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

.cabecalhoPrincipal-navegacao .login i {
    margin-right: 10px;
}

.conteudoPrincipal {
    min-height: 70%;
    margin-top: 15px;
}

